DATABASE_URL=required

PORT=optional

ORIGINS=["http://example.com"]

# JWT
JWT_SECRET=required
JWT_ALGORITHM=required
JWT_EXPIRATION_SECONDS=required

# Mail
MAIL_USERNAME=required
MAIL_PASSWORD=required
MAIL_FROM=required
MAIL_PORT=required
MAIL_SERVER=required
MAIL_FROM_NAME=required
MAIL_STARTTLS=optional
MAIL_SSL_TLS=optional
USE_CREDENTIALS=optional
VALIDATE_CERTS=optional

# Cloudinary
CLOUDINARY_NAME=required
CLOUDINARY_API_KEY=required
CLOUDINARY_API_SECRET=required